html,
body {
    font-family: Pretendard, 'Noto Sans KR', sans-serif;
    height: 100%;

}

body {
    margin: 0;
    position: relative;
}

h2,
h3 {
    margin: 0;
}

a {
    text-decoration-line: none;
    /*card 내부 a태그에서는 적용이 안 돼서 직접 태그 내부 style로 삽입 밑줄은*/
}

.header {
    padding: 0;
    width: 100%;
    height: auto;
    display: inline;
}

.navbar {
    width: 100%;
    height: 65px;
    /*border-bottom-color: #9999a0a8;
    border-bottom-width: 1px;
    border-style: none none solid none;*/
}

.img-banner {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 20%;
}

.select-region-ul button {
    border: none;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.store-img {
    width: 20%;
    height: auto;
    padding: 2px;

}

.course-detail {
    width: auto;
    height: auto;

    padding: 10px 500px 0 500px;
    /* height는 임의 */
}

.user-info {
    width: 100%;
    min-height: auto;
    padding: 10px 0;
    display: flex;
    align-items: flex-start;

}

.profile-img {
    display: inline-block;
}

.card-user-nickname {
    color: black;
    margin: 0 0 0 3px;
    font-weight: 550;
    font-size: 15px;
    display: inline-block;
}

.user-info-right-side .user-nickname {
    color: black;
    margin: 0 0 0 10px;
    display: flex;
    font-weight: 550;
    font-size: 20px;
}


.user-info-right-side .region {
    margin: 10px 0 0 10px;
    color: grey;
}

.course-detail .region {
    display: inline-block;
}

.course-info {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-bottom-color: #9999a0a8;
    border-bottom-width: 1px;
    border-style: none none solid none;
}

.course-name {
    padding: 10px 0 10px 0;
}

.map-info {
    width: auto;
    height: auto;

    margin: 0;
}

.map-info-text {
    padding: 20px 0 5px 0;
}

.navbar-ul {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: 0;
}



.logo-img {
    width: auto;
    height: auto;
}

ul {
    list-style: none;
}

.banner {
    width: 100%;
    height: 315px;

    display: flex;
}

.banner-wrap {
    width: 100%;
    /* 공평하게 너비를 나눠가짐 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1C8FF;
}

.banner-img {
    width: 250px;
    height: 250px;
    display: flex;

}

.container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
}

.feed-section {
    width: auto;
    height: 700px;
    margin: 0 300px;
}

.select-region {
    width: auto;
    height: 150px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
}

.select-region-ul {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.select-region-img {
    margin: 5px 0;
    width: auto;
    height: auto;
}

.feed {
    width: 100%;
    min-height: auto;
}

.card {
    width: auto;
    height: 500px;

}


.card-profile-img,
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.card-img-bottom {
    width: auto;
    height: auto;
}

.card-title,
.card-text {
    color: black;
}

.card {
    padding: 20px 0 0 0;
}

.more {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: #D1C8FF;
    border-radius: 1%;
    margin: 20px 0;
}

.section-text .text,
.banner-text .text {
    font-weight: 500;
    font-size: 20px;
}


.main-section {

    width: 100%;
    height: auto;
}


.body-section1 {

    width: auto;
    height: 700px;
    display: flex;
    flex-direction: row;
    background-color: #F6F3FF;
}


.body-section2 {

    width: auto;
    height: 700px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.body-section3 {
    width: auto;
    height: 700px;
    display: flex;
    flex-direction: row;
    background-color: #F6F3FF;
}

.section-wrap {
    width: 100%;
    /* 공평하게 너비를 나눠가짐 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-text {
    display: block;
}




.footer {
    background-color: rgb(251, 250, 250);
    width: 100%;
    height: 150px;
    bottom: 0;
    margin: 100px 0 0 0;
    /*transform: translateY(-100%);*/
}

.footer a {
    color: grey;
}

.top-keywords-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}